@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "comicneue-bold";
  src: url("./assets/font/ComicNeue/ComicNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "comicneue-light";
  src: url("./assets/font/ComicNeue/ComicNeue-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "comic-sans-ms";
  src: url("./assets/font/Comic\ Sans\ MS/Comic\ Sans\ MS.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, comicneue-bold, comicneue-light, comic-sans-ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/imgs/shutter_1802686768@2x 1.png");
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.5s ease-in-out;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "comicneue-light";
}

::-webkit-scrollbar {
  display: none;
}
